body {
  background-color: #222222;
  color: #cccccc;
  font-family: "Source Code Pro", monospace;
}

header {
  text-align: center;
}

header h1 {
  margin-top: 28px;
  margin-bottom: 8px;
}

header h5 {
  margin-top: 0px;
  margin-bottom: 16px;
}

nav {
  margin-top: 32px;
  margin-bottom: 32px;
}

nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #cccccc;
  color: #222222;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 4px;
}

nav a:visited {
  color: #008888;
}

nav a:hover {
  background-color: #aaaaaa;
}

nav a:active {
  background-color: #aaaaaa;
  color: #00ffff;
}

.contentdiv {
  background-color: #aaaaaa;
  color: #222222;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  overflow: auto;
  height: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.contentdiv img {
  float: left;
  width: 40%;
  margin-right: 16px;
}

.contentdiv h2 {
  margin-top: 0px;
}

.contentdiv p {
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: "Rokkitt";
}

.contentdiv a {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
}

footer {
  margin-top: 32px;
  font-family: "Rokkitt";
  font-size: 12px;
  text-align: center;
}
