body {
  font-family: "Source Code Pro", monospace;
  background: #222222;
  color: #dddddd;
}

header {
  text-align: center;
  margin: 32px;
}

header h1 {
  margin: 12px;
  font-size: 36px;
}

header h2 {
  margin: 8px;
  font-size: 28px;
}

a {
  display: block;
  width: 256px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background: #cccccc;
}

a:visited {
  background: #aaaaaa;
}

a:hover {
  background: #999999;
}

a:active {
  background: #999999;
  color: #00ffff;
}

nav {
  margin: 32px;
}


footer {
  margin: 32px;
  font-size: 12px;
  text-align: center;
}

.pagetitle {
  text-align: center;
  font-size: 32px;
  margin: 32px;
  border-style: solid;
  border-color: #dddddd;
  border-width: 1px;
  padding: 16px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.projdisplay {
  overflow: auto;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

.projdisplay img {
  float: left;
  width: 256px;
  margin: 32px;
}

.projdisplay h3 {
  margin: 0px;
  margin-bottom: 8px;
  font-size: 24px;
}

.projdisplay h4 {
  font-size: 14px;
  margin: 0px;
  margin-bottom: 16px;
}

.projtextdisplay {
  display: block;
  margin-left: 320px;
  background-color: #dddddd;
  color: #000000;
  padding: 16px;
}

.projdisplay p {
  font-family: "Rokkitt", serif;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.projdisplay a {
  margin-left: 320px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.bigimg {
  display: block;
  width: 40%;
  min-width: 128px;
  margin-left: auto;
  margin-right: auto;
}

.contentdiv {
  margin: 32px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  padding-left: 32px;
  padding-right: 32px;
  background: #dddddd;
  color: #000000;
  font-family: "Rokkitt", serif;
}

.contentdiv h3 {
  font-family: "Source Code Pro", monospace;
}

.contentdiv a {
  background: #222222;
  color: #cccccc;
  font-family: "Rokkitt", serif;
  margin-left: 0px;
}

.contentdiv a:hover {
  background: #2c2c2c;
}

.contentdiv a:active {
  background: #2c2c2c;
  color: #00ffff;
}

.strikethrough {
  text-decoration: line-through;
}
